*{
    margin: 0 auto;
    padding: 0;
}
a{
    font-size: 40px;
    padding: 10px;
    text-decoration: none;
    color: chocolate;
}
p{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 30px;
    text-decoration: none;
}
a:hover{
    color: #ffa800;
}
img{
    position: relative;
    justify-content: center;
    border-radius: 40px;
    width: 80%;
    height: auto;
    margin-left: 9%;
    padding: 20px;
}
header{
    padding: 10px;
}
body{
    background-color: bisque;
}